body {
    background-color: black;
  }
  
  #mainMenu {
    margin: 10px;
    width: 900px;
    font-family: Verdana;
    text-align: center;
  }
  #mainMenu li {
    display: block;
    width: 120px;
    float: left;
    margin-left: 2px;
    border: 1px solid #000;
  }
  
  #mainMenu a {
    display: block;
    padding: 3px;
    text-decoration: none;
    background-color: darkred;
    color: white;
  }
  
  #mainMenu a:hover {
    background-color: white;
    color: darkred;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
  }
  
  .header {
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
  }
  
  .container {
    position: relative;
    text-align: center;
  }
  
  .footer {
    background-color: rgb(26, 25, 25);
    padding: 10px;
    text-align: center;
    color: white;
    font-family: sans-serif;
  }
  
  #text1 {
    color: white;
    font-family:'Ubuntu', sans-serif;;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -38%);
    opacity: 0.6;
  }