body {
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(26, 25, 25);
}

li {
  float: left;
  border-right: 5px solid black;
}

li:last-child {
  border-right: none;
}

li a {
  font-family: "Ubuntu", sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(70, 66, 66);
}

.active {
  background-color: darkred;
}

.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}

.header {
  color: white;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.75;
}

.container {
  position: relative;
  text-align: center;
}

.footer {
  background-color: rgb(26, 25, 25);
  padding: 10px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

#text1 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -38%);
  opacity: 0.75;
}

.title-text {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding: 1rem;
  color: whitesmoke;
  font-weight: bold;
}
.paragraph-text {
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
  font-size: 18.5px;
}

.name-text {
  font-family: "Ubuntu", sans-serif;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  padding: 20px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}
